* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.bg-img {
  background-image: url("./image\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.haeder-wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-btn {
  box-shadow: 0px 4px 4px 0px #dad3ff;
  background: #009ff5b5;
  border-radius: 8px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-bottom-box {
  width: 600px;
  margin: 0px auto;
  margin-top: 177px;
  text-shadow: 3px 3px 3px rgb(15, 176, 179);
  text-align: center;
}

.header-bottom-item {
  border: 10px solid gray;
  border-radius: 30px;
  background-color: rgb(238, 241, 77);
  padding: 25px 10px;
}
.child-1 {
  width: 361px;
  height: 420px;
  background-color: #1f1f1f;
}

.child-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 36px;
  margin-left: 120px;
  padding-top: 10px;
  text-shadow: 5px 5px 10px yellow;
}
.cart{
    display: flex;
    gap: 50px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 150px;
}
.Uzbekistan{
    background-color: #000000;
    
}
.Uzbekistan h1{
    color: aliceblue;
    text-align: center;
    padding-top:35px; 
}
.tex{
    color: #dad3ff;
    margin-top: 35px;
    
}
.box{
    display: flex;
    gap: 85px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 35px;

}
.content{
    font-family: Roboto;
font-weight: 600;
font-size: 27px;
line-height: 100%;
letter-spacing: 0%;

}
.content button{
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    background: #535353;
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 100px;
    cursor: pointer;
    
}

footer {
  background-color: #FFC611 ;
  display: flex;
  justify-content: space-between;
  gap: 40px;

}
.name{
  display: flex;
 margin-right: 80px;
 gap: 40px
 ;
}



  

